/* Import _base.scss variables */
@import "base";

@import "custom"; 

@import "normalize";

$sans-serif-fallback: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
$serif-fallback: Georgia, "Times New Roman", Times, serif;

$sans-serif: 'MTI Letter Gothic W01', $sans-serif-fallback;
$serif: 'Cardamon W04', $serif-fallback;
$display: 'ITC Magnifico W01', $serif-fallback;
$initial-cap: 'ITC Magnifico W01', $serif-fallback;
$smallcaps: 'Ysobel W01', $serif-fallback;

@import "rwt_scaffold";

/******** HELPERS ********/

/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

/* end update for semantics */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 175, ../sass/h5bp_main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 180, ../sass/h5bp_main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 189, ../sass/h5bp_main.scss */
.clearfix {
  *zoom: 1;
}

/* useful resets from HTML5 BoilerPlate */

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 59, ../sass/h5bp_main.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 67, ../sass/h5bp_main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 77, ../sass/h5bp_main.scss */
textarea {
  resize: vertical;
}

/* Minimal page design to provide visual structure */

/* layout styles */
body {
	background-color: $body-background;
}

.page {
	background-color: #fdfdfd;
	margin-top: 1em;
	margin-bottom: 2em;
}

.layout {
	clear: both;
	margin-bottom: 2em;
	padding-bottom: 0;
	@include clearfix;
	&.border-left {
		border-left: 1em solid $color-gray;
		padding-right: 1em;
		@media (min-width: $mq-l-tab) {
			border-left-width: 3em;
			padding-right: 3em;
		}
		&.half {
			padding-right: 0;
		}
	}
	&.border-right {
		border-right: 1em solid $color-gray;
		padding-left: 1em;
		@media (min-width: $mq-l-tab) {
			border-right-width: 3em;
			padding-left: 3em;
		}
		&.half {
			padding-left: 0;
		}
	}
	&.blue {
		border-color: $color-blue;
	}
	&.blue-pale {
		border-color: $color-blue-pale;
	}
	&.rust {
		border-color: $color-rust;
	}
	&.gold-pale {
		border-color: $color-gold-pale;
	}
	&.orange {
		border-color: $color-orange;
	}
	.half,
	&.half {
		//width: 100%;
		@media (min-width: $mq-l-tab) {
			width: 50%; 
			&.intro {
				width: 65%;
			}
		}
	}
	.two-thirds {
		width: 66%;
	}
	.full-width {
		clear: both;
		width: 100%;
	}
	.left {
		clear: left;
		float: left;
	}
	.right {
		clear: right;
		float: right;
	}
	.clear {
		clear: both;
	}
	&.float-left {
		float: left;
		clear: left;
	}
	&.float-right {
		float: right;
		clear: right;
	}
	.float-left {
		padding-right: 1em;
		text-align: right;
		@media (min-width: $mq-l-tab) {
			float: left;
			margin-right: -50%;
			width: 47.5%; 	 
		}
	}
	.float-right {
		padding-left: 1em;
		text-align: left;
		@media (min-width: $mq-l-tab) {
			float: right;
			margin-left: -50%;
			width: 47.5%; 	 
		}
	}
}

/* heading and title styles */
.page > header {
	margin-bottom: 1em;
	h1 {
		font-family: $sans-serif;
		font-size: (20 / $text-base-size) * 1em;
		@media (min-width: $mq-l-tab) { 
			font-size: (24 / $text-base-size) * 1em;
			margin-bottom: 1.5em;
		}
	}
}

article > header {
	padding-top: 0.5em;
	@media (min-width: $mq-l-tab) { 
		padding-top: 2em;
	}
	figure {
		margin-bottom: 0;
	}
}

.title {
	font-family: $display;
	font-size: 7vw;
	color: $color-gold; 
	float: left; 
	line-height: 1;
	margin-right: -100%; 
	margin-bottom: 1em;
	padding-left: .5em;
	width: 100%; 
	@media (min-width: $mq-s-tab) { 
		font-size: 6vw;
	}
	@media (min-width: $mq-l-tab) { 
		font-size: 4vw;
		margin-top: -0.75em;
		padding-left: 0;
	}
	.second-half {
		display: block;
		font-size: 2.25em;
		@media (min-width: $mq-l-tab) { 
			font-size: 3.25em;
		}
	}
	label {
		
	}
	.wf-inactive & {
		
	}
}

.author {
	display: block;
	font-family: $serif;
	font-style: italic; 
	text-align: right; 
	width: 20em; 
	float: right;
	padding-right: 1em;
	@media (min-width: $mq-l-tab) { 
		padding-right: 3em;
	}
	.wf-inactive & {
		font-family: $serif-fallback;
		margin-bottom: 0.05em;
	}
}


/* paragraph styles */
p {
	@include otfeatures($liga: 1, $kern: 1);
	padding-bottom: 1em;
	&.right {
		padding-left: 1em;
		padding-right: 1em;
		.border-left & {
			@media (min-width: $mq-l-tab) {
				padding-left: 0;
				padding-right: 2em;
			}
			@media (min-width: $mq-m-desk) {
				padding-left: 0;
				padding-right: 5em;
			}
		}
		@media (min-width: $mq-l-tab) {
			padding-left: 0;
			padding-right: 2em;
			&.intro {
				padding-right: 4em;
			}
		}
		@media (min-width: $mq-m-desk) {
			padding-left: 0;
			padding-right: 5em;
		}

	}
	&.left {
		padding-left: 1em;
		@media (min-width: $mq-l-tab) {
			padding-left: 5em;
		}
		.border-right & {
			padding-right: 1em;
			@media (min-width: $mq-l-tab) {
				
				padding-left: 2em;
			}
		}
	}
	&.intro {
		font-size: (20 / $text-base-size) * 1em; 
		color: $color-blue;
	}
	&.opening.blue {
		position: relative;
		text-indent: 3em;
		@media (min-width: $mq-l-tab) {
			text-indent: 0;
		}
		&:before {
			content: url(../images/arrow_right_blue.png);
			position: absolute; 
			float: left; 
			left: -3.5em;
		}
	}
	&.opening.rust {
		position: relative;
		text-indent: 3.5em;
		@media (min-width: $mq-l-tab) {
			text-indent: 0;
		}
		&:before {
			content: url(../images/arrow_right_rust.png);
			position: absolute; 
			float: left; 
			left: -4.25em;
			top: -0.25em;
		}
	}
	&.closing {
		position: relative;
		&:after {
			content: url(../images/arrow_left.png);
			position: absolute; 
			bottom: -1em;
			right: 0;
			@media (min-width: $mq-l-tab) {
				right: -5em;
			}
		}
	}
}
blockquote {
	&.rust {
		p {
			color: $color-rust;
		}
	}
	&.gold-pale {
		p {
			color: $color-gold-pale;
		}
	}
	&.blue {
		p {
			color: $color-blue;
		}
	}
	&.blue-pale {
		p {
			color: $color-blue-pale;
		}
	}
	&.orange {
		p {
			color: $color-orange;
		}
	}
}
/* /layout styles */

img {
	width: 100%; 
	max-width: 100%; 
	height: auto;
}


figure {
	margin-bottom: 0;
	position: relative;
	&.content-narrow {
		padding-right: 10%;
		&.left {
			padding-left: 5em;
			.border-right &.half {
				padding-left: 5em;
			}
		}
		.border-right & {
			margin-left: 0;
		}
	}
	&.pad-bottom {
		margin-bottom: 2em;
	}
	.border-right &.full-width {
		margin-left: -1em;
		width: auto;
		@media (min-width: $mq-l-tab) {
			margin-left: -3em;
		}
	}
	.border-right &.half.left {
		margin-left: -1em; 
		@media (min-width: $mq-l-tab) {
			margin-left: -3em;
			width: 55%;
		}
	}
}
figcaption {
	font-family: $serif;
	font-size: (12 / $text-base-size) * 1em; 
	font-style: italic;
	color: $color-gray;
	padding: 0.25em;
	&.right-side {
		@media (min-width: $mq-l-tab) {
			position: absolute; 
			right: -48%;
			top: 27%;
			width: 62.5%;
			@include transform(rotate(-90deg), origin(top, right));
		}
		@media (min-width: $mq-desk) {
			position: absolute; 
			right: -43%;
			top: 33%;
		}
		@media (min-width: $mq-m-desk) {
			position: absolute; 
			right: -40%;
			top: 37%;
		}
		@media (min-width: $mq-l-desk) {
			position: absolute; 
			right: -38%;
			top: 40%;
		}
	}
	&.above {
		position: absolute; 
		top: -3em; 
		left: 0;
	}
	&.right-side-above {
		@media (min-width: $mq-l-tab) {
			position: absolute; 
			right: -14%;
			top: -40%;
			width: 40%;
			@include transform(rotate(-90deg), origin(top, right));
		}
		@media (min-width: $mq-desk) {
			position: absolute; 
			right: -11%;
			top: -35%;
			width: 35%;
		}
		@media (min-width: $mq-m-desk) {
			position: absolute; 
			right: -11%;
			top: -29%;
			width: 30%;
		}
	}
}




/* Blockquote styles */

blockquote {
	margin: 1em auto;
	@include otfeatures($liga: 1, $clig: 1, $dlig: 1, $kern: 1);
	p {
		width: 90%; 
		margin: 0 auto 0 auto; 
		padding-top: 0.5em;
		padding-bottom: 1em;
		padding-right: 0;
		font-size: 1.5em; 
		line-height: 1.2em; 
		text-indent: 0;
		font-family: $serif; 
		font-style: italic; 
		font-weight: 200; 
		position: relative;
		@media (min-width: $mq-l-tab) { 
			font-size: 2.25em;
		}
		&:before {
			content: "\201C";
			font-family: $serif;
			font-size: 1.5em;
			font-style: italic; 
			font-weight: 200;
			//color: lighten($text-color, 15%);
			position: absolute;
			top: 0.45em;
			left: -0.45em;
		    
		}
		
		&:after {
			content: "\201D"; 
			font-family: $serif;
			font-size: 1.5em;
			font-style: italic; 
			font-weight: 200;
			//color: lighten($text-color, 15%);
			position: relative;
			bottom: -0.2em;
			right: 0.05em; 
			display: inline;
		    line-height: .2em;
		}
	}
	&.float-left {
		p {
			&:before {
				display: inline;
				position: relative;
				left: -0.1em;
				top: 0.2em;
			}
			&:after {
				position: absolute; 
				bottom: 0.85em;
				right: -0.35em;
			}
		}
	}
	.layout &.float-right {
		@media (min-width: $mq-l-tab) {
		width: 40%; 
		margin-right: 10%;
		}
	}
}



/* Make sure this is last - helps correct for an orientation scale bug in iOS */

@media screen and (orientation:landscape) and (device-width:320px) and (device-height: 480px) {
	body {
		width: 480px;
	}
}/*/mediaquery*/

